# ignore papers and outputs and data folders
papers/
outputs/
data/

# ignore vscode settings
.vscode/

# ignore cursor settings
.cursorignore

# ignore latex files
#*.tex

# ignore pdfs
*.pdf

# ignore pycache/pytest
__pycache__/
.pytest_cache/

# ignore pyc files
*.pyc
.DS_Store

*.json

venv
venv/

*.log
logs/

*.gz

*.egg-info/

papers

*.prof